<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-shop | Buy From Us!</title>
    <link rel="shortcut icon" href="../static/img/cart.png" type="image/x-icon" th:href="@{/img/cart.png}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <!-- Navigation bar and logo -->
    <article class="header">
        <nav class="nav container">
            <a class="nav-logo" th:href="@{/}">Smooth & Ready</a>
        </nav>
    </article>
    <!-- Navigation banner -->
    <header class="banner">
        <p class="banner-selection"><small>Login</small></p>
    </header>
    <main class="main">
        <article class="main-container">
            <form  th:action="@{/user/access}" method="post" class="login-form">
                <div class="login-email">
                  <label for="email"> Email: </label>      
                  <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required autocomplete="off"> 
                </div>
          
                <div class="login-password">
                  <label for="password"> Password: </label>
                  <input type="password"  class="password-input" id="password" name="password" placeholder="Enter your password" required>       
                </div>
          
                
                <div class="login-button">
                    <button type="submit" id="btn-login"> Login</button>
                </div>
                <p id="register-link"><a th:href="@{/user/register}">Click here to create an account</a></p>
              </form>
        </article>

    </main>
    <!-- footer-->
    <div th:insert="~{template_user.html::footer}"></div>

</body>
</html> 