<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-shop | Buy From Us!</title>
    <link rel="shortcut icon" href="../static/img/cart.png" type="image/x-icon" th:href="@{/img/cart.png}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<div th:insert="~{template_admin.html::header}"></div>
<header class="banner">
    <p class="banner-selection">
        <a th:href="@{/admin}" class="home-link"> Home</a>
        <a th:href="@{/admin/orders}" class="home-link" id="my-orders-banner">| My Orders</a>
        <small> | Details</small>
    </p>
</header>
<main>
    <main class="main">
        <article class="main-container">
                <table>
                    <thead>
                        <tr>
                            <th>Quantity</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="odt:${detail}">
                            <td th:text="${odt.quantity}"></td>
                            <td th:text="${odt.name}"></td>
                            <td th:text="${odt.price}"></td>
                            <td th:text="${odt.total}">Total</td>
                        </tr>
                    </tbody>
                </table>
        </article>
    </main>
</main>
<!-- footer-->
<div th:insert="~{template_user.html::footer}"></div>
